<!DOCTYPE html>
<html lang="zh-Hant-TW" ng-app="noteClassApp" ng-controller="noteClassCtrl">
	<title>Cyclopes's World</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS IMPORT-->
	<link rel="stylesheet" type="text/css" href="../../css/theme.css"/>
	<link rel="stylesheet" type="text/css" href="../../plugins/dialog/dialogs.css"/>
	<link rel="stylesheet" type="text/css" href="../../plugins/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../plugins/autoComplete/css/jquery.autocomplete.css"/>
	<!-- CSS IMPORT-->
	
	<body class="page-header-fixed">
		<div class="navbar">
			<h4 ng-bind-template="記事本分類"></h4>
		</div>
			
		<div class="panel panel-warning">
			<div class="panel-body">
				<form name="form" class="form-horizontal" role="form">
					<div class="form-body">
						<div class="form-group col-12">
							<div class="table-responsive">
								<table class="table table-advance table-hover text-left">
									<thead>
										<tr>
											<th class="col-md-2">項目編號</th>
											<th class="col-md-2">項目名稱</th>
											<th class="col-md-8">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="x in noteClassList | filter:{status:'Y'}">
											<td>
												<span ng-bind="x.id"></span>
											</td>
											<td>
												<input class="form-control" ng-model="x.name" ng-show="x.onUpd"/>
												<span ng-bind="x.name" ng-hide="x.onUpd"></span>
											</td>
											<td>
												<input type="button" ng-click="doUpd(x)" value="編輯" class="btn btn-info" ng-hide="x.onUpd"/>
												<input type="button" ng-click="del(x)" value="刪除" class="btn btn-danger" ng-hide="x.onUpd"/>
												<input type="button" ng-click="upd(x)" value="送出" class="btn btn-success" ng-show="x.onUpd"/>
												<input type="button" ng-click="doCancel(x)" value="取消" class="btn btn-danger" ng-show="x.onUpd"/>
											</td>
										</tr>
										<tr ng-hide="onUpd">
											<td>&nbsp;</td>
											<td>
												<input class="form-control" ng-model="tmpData.name" ng-disabled="onUpd"/>
											</td>
											<td>
												<input class="btn btn-success" type="button" ng-click="add()" value="送出" ng-disabled="onUpd"/>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
	
	<!-- JS IMPORT -->
	<script type="text/javascript" src="../../plugins/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../plugins/angular/angular.js"></script>
	<script type="text/javascript" src="../../plugins/angular/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="../../plugins/angular/angular-animate.min.js"></script>
	<script type="text/javascript" src="../../plugins/angular/angular-cookies.min.js"></script>
	<script type="text/javascript" src="../../plugins/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script type="text/javascript" src="../../plugins/autoComplete/js/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="../../plugins/dialog/dialogs-main.js"></script>
	<script type="text/javascript" src="../../plugins/waitingDialog.js"></script>
	<!-- JS IMPORT -->
	
	<script>document.write('<script type="text/javascript"src="noteClass.js?r=' + Math.floor(Math.random() * 100) + '"\><\/script>');</script>
</html>
