<!DOCTYPE html>
<html lang="zh-Hant-TW" ng-app="pokeSpeedApp" ng-controller="pokeSpeedCtrl">
	<title>Cyclopes's World</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS IMPORT-->
	<link rel="stylesheet" type="text/css" href="../../css/theme.css"/>
	<link rel="stylesheet" type="text/css" href="../../plugins/dialog/dialogs.css"/>
	<link rel="stylesheet" type="text/css" href="../../plugins/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../../plugins/autoComplete/css/jquery.autocomplete.css"/>
	<!-- CSS IMPORT-->
	
	<body class="page-header-fixed">
		<div class="navbar">
			<h4 ng-bind-template="速度線對照"></h4>
		</div>
			
		<div class="panel panel-warning">
			<div class="panel-body">
				<form name="form" class="form-horizontal" role="form">
					<div class="form-body">
						<div class="form-group col-12">
							<div class="table-responsive">
								<div class="col-md-12 col-sm-12">
									<div class="col-md-12 col-sm-12">
										<div class="col-md-12 col-sm-12">
											<div class="col-md-4 col-sm-4">
												<select class="form-control" ng-model="tmpData.pokemon" ng-options="(x.no + ' - ' + x.name) for x in pokemonList" ng-change="changePoke();textChange();"></select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12" style="padding-top:20px">
									<div class="col-md-12 col-sm-12">
										<div class="col-md-6 col-sm-6">
											<div class="col-md-3 col-sm-3">
												<label>ＨＰ</label>
												<input class="form-control" ng-model="tmpData.H" ng-change="textChange()" disabled/>
											</div>
											<div class="col-md-3 col-sm-3">
												<label>攻擊</label>
												<input class="form-control" ng-model="tmpData.A" ng-change="textChange()" disabled/>
											</div>
											<div class="col-md-3 col-sm-3">
												<label>防禦</label>
												<input class="form-control" ng-model="tmpData.D" ng-change="textChange()" disabled/>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<label>個性速度：&nbsp;</label>
											<label><input class="form-control" type="radio" ng-model="tmpData.nature" value="Y" ng-change="textChange()"/>&nbsp;增&nbsp;&nbsp;</label>
											<label><input class="form-control" type="radio" ng-model="tmpData.nature" value="" ng-change="textChange()"/>&nbsp;無&nbsp;</label>
											<label><input class="form-control" type="radio" ng-model="tmpData.nature" value="N" ng-change="textChange()"/>&nbsp;減&nbsp;&nbsp;</label>
										</div>
									</div>
									<div class="col-md-12 col-sm-12">
										<div class="col-md-6 col-sm-6">
											<div class="col-md-3 col-sm-3">
												<label>特攻</label>
												<input class="form-control" ng-model="tmpData.SA" ng-change="textChange()" disabled/>
											</div>
											<div class="col-md-3 col-sm-3">
												<label>特防</label>
												<input class="form-control" ng-model="tmpData.SD" ng-change="textChange()" disabled/>
											</div>
											<div class="col-md-3 col-sm-3">
												<label>速度</label>
												<input class="form-control" ng-model="tmpData.S" ng-change="textChange()"/>
											</div>
										</div>
										<div class="col-md-6 col-sm-6">
											<div class="col-md-3 col-sm-3">
												<label>努力</label>
												<input class="form-control" ng-model="tmpData.baseStats" ng-change="textChange()"/>
											</div>
											<div class="col-md-3 col-sm-3">
												<label>個體</label>
												<input class="form-control" ng-model="tmpData.iv" ng-change="textChange()"/>
											</div>
										</div>
									</div>
									<div class="col-md-12 col-sm-12" style="padding-top:20px">
										<div class="col-md-3 col-sm-3">
											<div class="table-responsive">
												<table class="table table-advance table-hover text-left">
													<thead>
														<tr>
															<th class="col-md-2">等級</th>
															<th class="col-md-2">速度</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>50</td>
															<td ng-bind="tmpData.lv50Speed"></td>
														</tr>
														<tr>
															<td>100</td>
															<td ng-bind="tmpData.lv100Speed"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="col-md-12 col-sm-12 text-center" style="padding-top:20px">
										<input type="button" ng-click="add(tmpData)" value="加入到下表" class="btn btn-success"/>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group col-12">
							<div class="col-md-8 col-sm-8 row">
								<span style="color:red;">列表</span>
							</div>
						</div>
						<div class="form-group col-12">
							<div class="table-responsive">
								<table class="table table-advance table-hover text-left">
									<thead>
										<tr>
											<th class="col-md-2">編號</th>
											<th class="col-md-2">名稱</th>
											<th class="col-md-2">種族</th>
											<th class="col-md-2">個體</th>
											<th class="col-md-2">努力</th>
											<th class="col-md-2">50等速度</th>
											<!--<th class="col-md-2">100等速度</th>-->
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="x in pokeSpeedList">
											<td ng-bind="x.no"></td>
											<td style="{{x.nature=='Y'?'color:red':x.nature=='N'?'color:blue':''}}" ng-bind="x.name"></td>
											<td ng-bind="x.S"></td>
											<td ng-bind="x.iv"></td>
											<td ng-bind="x.baseStats"></td>
											<td ng-bind="x.lv50Speed"></td>
											<!--<td ng-bind="x.lv100Speed"></td>-->
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
	
	<!-- JS IMPORT -->
	<script type="text/javascript" src="../../plugins/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../plugins/angular/angular.js"></script>
	<script type="text/javascript" src="../../plugins/angular/angular-sanitize.min.js"></script>
	<script type="text/javascript" src="../../plugins/angular/angular-animate.min.js"></script>
	<script type="text/javascript" src="../../plugins/angular/angular-cookies.min.js"></script>
	<script type="text/javascript" src="../../plugins/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script type="text/javascript" src="../../plugins/autoComplete/js/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="../../plugins/dialog/dialogs-main.js"></script>
	<script type="text/javascript" src="../../plugins/waitingDialog.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<!-- JS IMPORT -->
	
	<script>document.write('<script type="text/javascript"src="pokeSpeed.js?r=' + Math.floor(Math.random() * 100) + '"\><\/script>');</script>
</html>
